* {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #fff;
}
body {
  margin: 0;
  border: 0;
  background-color: #000;
}

.home-intro-container {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px 20px;
  z-index: 1;
}

.intro-title {
  font-size: 56px;
}

.intro-subtitle {
  opacity: 1;
  animation: fade 3s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#content-block {
  position: relative;
  overflow: hidden;
}

.parallax-slide {
  position: relative;
  height: 100vh;
}

.parallax-slide-rain {
  position: relative;
  height: 70vh;
}

.parallax-clip {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  /*clip: rect(auto, auto, auto, auto);*/
}

.fixed-parallax {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  /* -webkit-transform: translateZ(0); /* necessary for iOS! */
}

/* used only as overlay for the images,
   darkens it a little in this case */
.fixed-parallax:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

/* CSS specific to iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
  .parallax-clip {
    clip: rect(auto, auto, auto, auto);
  }
  .fixed-parallax {
    position: fixed;
    background-attachment: unset;
    -webkit-transform: translateZ(0); /* necessary for iOS! */
  }
}
