* {
  font-family: "Montserrat", "Arial", sans-serif;
}
body {
  margin: 0;
  border: 0;
  background-color: black;
}

.z-icon {
  border-bottom: 10px solid #c09634;
}

.profile-pic {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.home-intro-container {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px 20px;
  z-index: 1;
}

.intro-title {
  font-size: 56px;
}

.intro-subtitle {
  opacity: 1;
  animation: fade 3s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.white {
  color: white;
}
.blue {
  color: #185adb;
}

.button {
  background-color: #c09634;
  color: #185adb;
  border-radius: 5px;
  border: 1px solid #c09634;
  padding: 10px;
  margin: 10px;
}

#content-block {
  position: relative;
  overflow: hidden;
}

.parallax-slide {
  position: relative;
  height: 700px;
}

.parallax-clip {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  /*clip: rect(auto, auto, auto, auto);*/
}

.fixed-parallax {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  /* -webkit-transform: translateZ(0); /* necessary for iOS! */
}

/* used only as overlay for the images,
   darkens it a little in this case */
.fixed-parallax:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

/* CSS specific to iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
  .parallax-clip {
    clip: rect(auto, auto, auto, auto);
  }
  .fixed-parallax {
    position: fixed;
    background-attachment: unset;
    -webkit-transform: translateZ(0); /* necessary for iOS! */
    transform: translateZ(0);
  }
}

.page-container {
  margin: 10px;
}

.resume {
  display: block;
  border: none;
  height: calc(100vh - 50px);
  width: 100%;
  align-items: center;
  border-radius: 5px;
}
.resume-download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.about-container {
  display: flex;
  flex-direction: row;
}
.about-card {
  padding: 10px;
  height: 20vh;
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

.blog-link {
  max-width: 40%;
}
