.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: black;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  margin: 10px 20px;
  @media (min-width: 600px) {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}
